{% extends 'bootstrap/base.html' %}
{% block title %}
Beast
{% endblock %}

{% block navbar %}

<!--  <nav class="navbar navbar-inverse"> -->

<!--     <div class="navbar-header"> -->
<!--       <a class="navbar-brand" href="#">Deer or Gazelle?!</a> -->
<!--     </div> -->

<!-- </nav>  -->


{% endblock %}

{% block head%}


{{super()}}
  <title>beast</title>
</head>
{% endblock %}

{% block styles %}
{{super()}}

{% endblock %}

{% block content %}
<div class="container">

    {% block app_content %}{% endblock %}
</div>
{% endblock %}
