{% extends 'bootstrap/base.html' %}
{% block title %}
Beast
{% endblock %}

{% block navbar %}

<!--  <nav class="navbar navbar-inverse"> -->

<!--     <div class="navbar-header"> -->
<!--       <a class="navbar-brand" href="#">Deer or Gazelle?!</a> -->
<!--     </div> -->

<!-- </nav>  -->


{% endblock %}

{% block head%}
{{super()}}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-115560986-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-115560986-3');
</script>

  <title>beast</title>
</head>
{% endblock %}

{% block styles %}
{{super()}}
<!-- for github icon -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}

{% block content %}
<div class="container">

    {% block app_content %}{% endblock %}
</div>
{% endblock %}
